<div class="barre-langue-seule">
  <button type="button" (click)="t.changerLangue('fr')" [class.actif]="t.langueActuelle() === 'fr'">FR</button>
  <button type="button" (click)="t.changerLangue('ar')" [class.actif]="t.langueActuelle() === 'ar'">AR</button>
</div>

<div class="page-connexion">
  <form class="carte-connexion" (ngSubmit)="sInscrire()">
    <h1>{{ t.t('inscription') }}</h1>

    <div *ngIf="erreur" class="message-erreur">{{ erreur }}</div>

    <label>{{ t.t('nomComplet') }}</label>
    <input type="text" [(ngModel)]="name" name="name" required />

    <label>{{ t.t('email') }}</label>
    <input type="email" [(ngModel)]="email" name="email" required />

    <label>{{ t.t('motDePasse') }}</label>
    <input type="password" [(ngModel)]="password" name="password" required />

    <button type="submit" [disabled]="chargement">
      {{ chargement ? '...' : t.t('creerMonCompte') }}
    </button>

    <p class="lien-register">{{ t.t('dejaCompte') }} <a routerLink="/login">{{ t.t('seConnecterLien') }}</a></p>
  </form>
</div>
<div class="page-connexion">
  <form class="carte-connexion" (ngSubmit)="sInscrire()">
    <h1>{{ t.t('inscription') }}</h1>

    <div *ngIf="erreur" class="message-erreur">{{ erreur }}</div>

    <label>{{ t.t('nomComplet') }}</label>
    <input type="text" [(ngModel)]="name" name="name" required />

    <label>{{ t.t('email') }}</label>
    <input type="email" [(ngModel)]="email" name="email" required />

    <label>{{ t.t('motDePasse') }}</label>
    <input type="password" [(ngModel)]="password" name="password" required />

    <button type="submit" [disabled]="chargement">
      {{ chargement ? '...' : t.t('creerMonCompte') }}
    </button>

    <p class="lien-register">{{ t.t('dejaCompte') }} <a routerLink="/login">{{ t.t('seConnecterLien') }}</a></p>
  </form>
</div>